


<div  th:fragment="header" class="shadow">
    <style>
        .btn-custom:hover{
            background-color: #589A8D;
            transition: 500ms linear; 
        }
    
    </style>
    <header class="d-flex justify-content-center py-3">
        <ul class="nav nav-pills">
        <li class="nav-item"><a href="/pessoa" class="btn btn-custom" aria-current="page">Pessoas</a></li>
        <li class="nav-item"><a href="/deficiencia" class="btn btn-custom">Deficiências</a></li>
        <li class="nav-item"><a href="#" class="btn btn-custom">Ajuda</a></li>
        </ul>
    </header>
</div>
